.addCommentBlock {
	display: flex;
	margin: 20px 5px;
	flex-direction: column;
}
.addCommentBlock textarea {
resize: none;

}
.addCommentBlock button {
	margin-top: 5px;
	align-self: flex-start;
}
.addCommentBlock h3 {
	margin-left: 5px;
	
}
