.addComment {
	display: flex;
	margin: 20px 5px;
	flex-direction: column;
}
.addComment textarea { 
resize: none;

}
.addComment button {
	margin-top: 5px;
	align-self: flex-start;
}
.addComment h3 {
	margin-left: 5px;
	
}
