.footer{
	padding: 20px;
	background: #010101;
	margin-top: auto;
	width: 1220px;
}
.footerContent{
	display: flex;
	padding: 5px;
	justify-content: space-around;
}
.footerMainImage img{
	width: 300px;
	height: auto;
	border-radius: 10%;
}

.footerInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footerLogo img{
	width: 250px;
	height: 85px;
}
.footerLinks img{
	width: 60px;
	height: 60px;
	margin: 3px;
	border: 2px solid transparent;
	border-radius: 10%;	
}

.img_1:hover, .img_2:hover, .img_3:hover, .img_4:hover {
	border-color: white;
}


.footerLinks{

}